<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if order %}Редактировать{% else %}Добавить{% endif %} заказ</title>
</head>
<body>
<h2>{% if order %}Редактировать{% else %}Добавить{% endif %} заказ</h2>

<form method="post">
    {% csrf_token %}
    {{ order_form.as_p }}

    <h3>Элементы заказа</h3>
    {{ order_item_formset.management_form }}
    <table>
        {% for form in order_item_formset %}
            <tr>
                <td>{{ form.as_p }}</td>
            </tr>
        {% endfor %}
    </table>

    <button type="submit">{% if order %}Сохранить{% else %}Добавить{% endif %}</button>

    {% if order %}
        <button type="submit" name="delete">Удалить заказ</button>
    {% endif %}
    <a href="{% url 'order_list' %}">Отмена</a>
</form>


</body>
</html>