<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if spare %}Редактировать{% else %}Добавить{% endif %} деталь</title>
</head>
<body>
<h2>{% if spare %}Редактировать{% else %}Добавить{% endif %} деталь</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if spare %}Сохранить{% else %}Добавить{% endif %}</button>

    {% if spare %}
        <button type="submit" name="delete">Удалить</button>
    {% endif %}
    <a href="{% url 'home' %}">Отмена</a>
</form>

</body>
</html>